<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/css/style.css' />
</head>
<body>
    <h1><%= title %></h1>

    <%if (error == 'dialogs_not_found') { %>
        <p>Dialogs not found.</p>
        <p>Please, <a href="/dialogs/new">create new dialog</a>.</p>
    <% } %>
    <% if (error == 'int_not_found') { %>
        <p>Interlocutor is not found.</p>
    <% } %>

    <%if (error == 'all') { %>

    <% } %>

    <%if (error == 'dialog') { %>
        <div class="wrapper">
            <div class="dialog_wrap">
                <div id="dialog" class="dialog" data-dialog="<%=dialog._id%>">
                    <div class="wrap3">
                        <%if (messages.length) { %>

                        <% } %>
                    </div>
                </div>
                <div id="write_wrapp" class="write_wrapp">
                    <textarea id="im_textarea" placeholder="Сообщение" class="im_textarea"></textarea>
                    <button class="button" onclick="IM.send(this);">Отправить</button>
                </div>
            </div>
            <div class="user_list_wrap">
                <div></div>
            </div>
        </div>
    <% } %>
</body>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://localhost:3000/socket.io/socket.io.js"></script>
<script src="/javascripts/node.js"></script>
<script src="/javascripts/im.js"></script>
<script>Node.init('http://localhost'); IM.connect();</script>
</html>