<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/css/style.css' />
</head>

<body>
  <div class="site_holder">
    <div class="header_bg">
      <h1><%= title %></h1>
    </div>
    <div class="p_top80 home_wrap">
      <%if (user_name !== undefined) { %>
          <p>Приветствуем, <%= user_name %>!</p>
          <a href="/dialogs">Dialogs</a>
      <% } else { %>
          <span class=""><a class="login" href="/users/login">Логин</a></span>
          <span class=""><a class="register" href="/users/register">Регестрация</a></span>
      <% } %>
    </div>
  </div>
</body>
</html>