<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/css/style.css' />
</head>
<body>
	<div class="site_holder">
		<div class="header_bg">
			<h1>Войти</h1>
		</div>
	    <div class="p_top80 login_wrap">
		    <form method="post">
		        <div class="">
		        	<input type="text" class="login" placeholder="Логин" name="login" />
		        </div>
		        <div class="">
		        	<input type="password" class="password" placeholder="Пароль" name="password" />
		        </div>
		        <div class="">
		        	<input type="submit" class="button" value="Войти" />
		        </div>
		    </form>
		</div>
	</div>
</body>
</html>