body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#dialog {
    width: 746px;
    border-right: 1px solid #ccc;
}

textarea#im_textarea {
    width: 574px;
    height: 45px;
    resize: none;
    border: 1px solid #cacaca;
    border-radius: 2px;
}