@import url(../css/normalize.css);

/* fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic);

*, *:after, *:before {
  box-sizing: border-box;
  outline: none;
}

.cf:after,.cf:before{content:" ";display:table}
.cf:after{clear:both}

/* veriables */

$body-width: 980px;
$border-color: #ccc;
$black-color: #333;

$frst-color: #F0F0F0;
$scnd-color: #2D78A0;
$thrd-color: #87AA1E;
$frth-color: #BED741;

@mixin margin-auto () {
  margin: 0 auto;
  position: relative;
}

@mixin border ($width1, $width2, $width3, $width4) {
  border-width: $width1 $width2 $width3 $width4;
  border-style: solid;
  border-color: #cccccc;
}

@mixin bg_image () {
  background: url(/images/bg-image.jpg) no-repeat center center fixed;
  background-size: cover;
}

@mixin header_fixed () {
  width: inherit;
  margin: 0;
  position: fixed;
}

html {
  @include bg_image;
}

body {
  font: 1.2em/1.5em "Open Sans", Helvetica, sans-serif;
  color: #333;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #00B7FF;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.error_msg {
  color: #ff0000;
}

.header_bg {
  height: 60px;
  @include header_fixed;
  background-color: rgba(208,208,208,.4);
  border-radius: 0 0 10px 10px;
  z-index: 194;
}

h1 {
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #87AA1E;
  text-align: center;
  z-index: 195;
  transition: all .4s ease-out;

  &:hover {
    color: $frst-color;
    transition: all .4s ease;
  }
}

button {
  border: 0;
}

p {
  margin: 0;
}

textarea {
  resize: none;
  outline: none;
}

.p_top80 {
  padding-top: 180px;
  text-align: center;
}

.wrapper {
  margin: 0 auto;
  overflow: hidden;
  width: $body-width;
  display: table;
  position: relative;

  .user_list_wrap {
    display: table-cell;
    position: fixed;
    top: 100px;
    color: #f4f4f4;
    font-family: "Open Sans";
    font-weight: 600;
    text-shadow: 2px 2px 2px #333;

    .user_list {
      list-style-type: none;
      padding-left: 20px;
    }

    .user_list_block {
      padding: 10px;
    }
  }

  .dialog_wrap {
    display: table-cell;
    width: 750px;
    vertical-align: bottom;

    .dialog {
      margin: 0 auto;
    }

    .write_wrapp {
      display: table;
      width: inherit;
      margin: 0 auto;
      position: fixed;
      bottom: 0;
      background: rgba(208,208,208,.4);
      padding: 10px;

      .im_textarea {
        font-family: Lato, sans-serif;
        font-weight: 300;
        display: table-cell;

        width: (100% - 15%);
        height: 50px;
        @include border(1px, 1px, 1px, 1px);
        padding: 1px 0px 2px 10px;
        background-color: rgba(255,255,255,0.95);
        border-radius: 10px;
      }

      .button {
        float: right;
        text-align: right;
        display: table-cell;
        vertical-align: bottom;
        color: $scnd-color;
        background-color: #fff;
        margin: 12px 5px 0 0;
        border-radius: 10px;
        font-size: 16px;

        &:hover {
          background-color: $scnd-color;
          color: #fff;
          //color: $thrd-color;
          transition: all .1s ease-in;
        }
      }
    }
  }
}

// dialogs view

.site_holder {
  width: $body-width;
  @include margin-auto;
}

.wrap4 {
  position: relative;
  width: 100%;
  padding: 57px 0 90px;

  > div {
    padding: 0 20px;
  }

  .owner, .interlocutor  {
    width: inherit;
    margin: 7px 0 0 0;

    // &:last-child {
    //   .message_text_wrap,.message_owner {
    //     transition: 1s opacity ease-in;
    //   }
    // }

    .message_owner {
      font-family: "Open Sans";
      font-weight: 600;
      display: inline-block;
      word-wrap: break-word;
      max-width: 250px;
      margin-right: 5px;
      padding-top: 6px;
    }

    .message_text_wrap {
      display: table;
      text-align: left;
      border-radius: 10px;
      padding: 6px 8px 5px;
      max-width: 350px;

      .message_text {
        word-break: break-word;
        display: table-cell;
      }

      .message_time {
        font-size: 10px;
        position: relative;
        top: 2px;
        padding-left: 5px;
        display: table-cell;
        vertical-align: bottom;
      }
    }
  }

  .owner {
    float: right;
    text-align: right;

    .message_owner {
      color: $thrd-color;
    }

    .message_text_wrap {
      background-color: $frth-color;
      float: right;

      .message_time {
        color: #5D7513;
      }
    }
  }

  .interlocutor {
    float: left;
    text-align: left;

    .message_owner {
      color: #f4f4f4;
      float: left;
    }

    .message_text_wrap {
      background-color: #f8f8f8;

      .message_time {
        color: #999;
      }
    }
  }
}

.go-back-link {
  z-index: 200;
  position: absolute;
  top: 12px;
  left: 30px;
  text-transform: lowercase;
}

.logout-link {
  z-index: 200;
  position: absolute;
  top: 12px;
  right: 30px;
}

.home_wrap {

  .login, .register {
    padding: 10px 20px;
    background-color: #ccc;
    border-radius: 10px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    transition: .6s background-color ease, .4s color ease;

    &:hover {
      color: #f8f8f8;
      background-color: $frth-color;
      transition: .2s background-color ease-in, .2s color ease-in;
    }
  }

  .login {
    margin-right: 50px;
  }

  .register {

  }
}

.login_wrap,.register_wrap {

  > form div {
    margin-bottom: 20px;
  }

  .login, .password {
    padding: 5px 20px;
    background-color: #ccc;
    border-radius: 10px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    @include border (1px, 1px, 1px, 1px);
    transition: .6s background-color ease, .4s color ease;

    &:hover {
      background-color: #f8f8f8;
      transition: .4s background-color ease-in;
    }
  }

  .button {
    border: 0;
    background-color: $frth-color;
    padding: 5px 15px;
    border-radius: 10px;
    transition: .6s background-color ease-out, .8s color ease-out;

    &:hover {
      color: #f8f8f8;
      background-color: $frth-color;
      transition: .3s background-color ease-in, .2s color ease-in;
    }
  }
}

.empty-dialogs-list {
  margin: 0 auto;
  border-radius: 10px;
  width: 60%;
  background-color: rgba(102,102,102,.7);

  > p {
    padding: 20px;

    // &:first-child {
    //   padding-top: 20px;
    //   color: #f8f8f8;
    //   font-weight: bold;
    // }
  }
}









