@import url(../css/normalize.css);

/* fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic);

*, *:after, *:before {
  box-sizing: border-box;
  outline: none;
}

.cf:after,.cf:before{content:" ";display:table}
.cf:after{clear:both}

/* veriables */

$body-width: 980px;
$border-color: #ccc;
$black-color: #333;

$frst-color: #F0F0F0;
$scnd-color: #2D78A0;
$thrd-color: #87AA1E;
$frth-color: #BED741;

@mixin margin-auto () {
  margin: 0 auto;
  position: relative;
}

@mixin border ($width1, $width2, $width3, $width4) {
  border-width: $width1 $width2 $width3 $width4;
  border-style: solid;
  border-color: #cccccc;
}

@mixin bg_image () {
  background: url(/images/bg-image.jpg) no-repeat center center fixed;
  background-size: cover;
}

@mixin header_fixed () {
  width: inherit;
  margin: 0;
  position: fixed;
}

html {
  @include bg_image;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.4;
}

a {
  color: #00B7FF;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.error_msg {
  color: #ff0000;
}

.header_bg {
  height: 50px;
  @include header_fixed;
  background-color: rgba(208,208,208,.4);
  border-radius: 0 0 10px 10px;
  z-index: 194;
}

h1 {
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  // color: $scnd-color;
  color: #87AA1E;
  text-align: center;
  z-index: 195;
  @include header_fixed;
  transition: all .4s ease-out;

  &:hover {
    color: $frst-color;
    transition: all .4s ease;
  }
}

button {
  border: 0;
}

textarea {
  resize: none;
  outline: none;
}

.p_top80 {
  padding-top: 80px;
}

.wrapper {
  margin: 0 auto;
  overflow: hidden;
  width: $body-width;
  display: table;
  position: relative;

  font-family: 'PT Sans', sans-serif;

  .user_list_wrap {
    display: table-cell;
    position: fixed;
    top: 100px;
    color: $frst-color;
    text-shadow: 2px 2px 2px #333;

    .user_list {
      list-style-type: none;
      padding-left: 20px;
    }

    .user_list_block {
      padding: 10px;
    }
  }

  .dialog_wrap {
    display: table-cell;
    width: 750px;
    vertical-align: bottom;

    .dialog {
      margin: 0 auto;
    }

    .write_wrapp {
      display: table;
      width: inherit;
      margin: 0 auto;
      position: fixed;
      bottom: 0;
      background: rgba(208,208,208,.4);
      padding: 10px;

      .im_textarea {
        font-family: Lato, sans-serif;
        font-weight: 300;
        display: table-cell;

        width: (100% - 15%);
        height: 50px;
        @include border(1px, 1px, 1px, 1px);
        padding: 1px 0px 2px 10px;
        background-color: rgba(255,255,255,0.95);
        border-radius: 10px;
      }

      .button {
        float: right;
        text-align: right;
        display: table-cell;
        vertical-align: bottom;
        color: $scnd-color;
        background-color: #fff;
        margin: 12px 5px 0 0;
        border-radius: 10px;

        &:hover {
          background-color: $scnd-color;
          color: #fff;
          //color: $thrd-color;
          transition: all .1s ease-in;
        }
      }
    }
  }
}

// dialogs view

.site_holder {
  width: $body-width;
  @include margin-auto;
}

.wrap4 {
  position: relative;
  width: 100%;
  padding: 57px 0 90px;

  > div {
    padding: 0 20px;
  }

  .owner, .interlocutor  {
    width: inherit;
    margin: 7px 0 0 0;

    .message_owner {
      display: inline-block;
      word-wrap: break-word;
      max-width: 250px;
      margin-right: 5px;
      padding-top: 6px;
    }

    .message_text_wrap {
      display: table;
      border-radius: 10px;
      padding: 6px 8px 5px;
      max-width: 350px;

      .message_text {
        word-break: break-word;
        display: table-cell;
      }

      .message_time {
        font-size: 10px;
        position: relative;
        top: 2px;
        padding-left: 5px;
        display: table-cell;
      }
    }
  }

  .owner {
    float: right;
    text-align: right;

    .message_owner {
      color: $thrd-color;
    }

    .message_text_wrap {
      background-color: $frth-color;
      float: right;

      .message_time {
        color: $thrd-color;
      }
    }
  }

  .interlocutor {
    float: left;
    text-align: left;

    .message_owner {
      color: #999;
      float: left;
    }

    .message_text_wrap {
      background-color: #e3e3e3;

      .message_time {
        color: #999;
      }
    }
  }
}
